# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HOU-Class\send-email-maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
